@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Sobre mim: <a href="https://www.linkedin.com/in/lucas-s-novaes/">Clique para saber mais</a>.</p>
</div>
